@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition: ease-in-out;
  scroll-behavior: smooth;
}
:root{
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
html{
  font-size: 14px;

}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
